/*
#304145 - dark green grey
#BAC7CE - silverr sand
#BD3147 - french raspberry
#ffffff
*/
@font-face {
    font-family: 'openSans';
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'openBold';
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

* {
    margin: 0;
    font-family: "openSans";
    line-height: 2em;
}
p, li {
    font-size: 0.8em;
}
h2, h3 {
    letter-spacing: .5em;
    font-family: 'openBold';
    color:#304145;
}
h4 {
    letter-spacing: .4em;
    color: #BD3147; 
}
h5 {
    letter-spacing: .3em;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}
h3{
    margin-bottom: 10px;
}

/* intro profile */

#introProfile {
    height: 100vh;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 50% 10% 25% 15%;
}
#profileImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #232322;
}
#name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    letter-spacing: 0.5em;
    font-family: 'openBold';
    font-size: 3em;
    padding-left: 5%;
    animation-name: titleSweep;
    animation-duration: 2s; 
}
#aboutOverlay {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
    z-index: 0;
    background-color: #30414580;  
}
#mainOverlayText {
    padding: 2%;
    padding-left: 5%;
    animation-name: aboutSweep;
    animation-duration: 2s;
  
}
#aboutOverlay h3 {
    color: white;
    font-family: 'openBold';
}
#aboutOverlay p {
    width: 50%;
}

#signature, #year, #profile {
    background-color: #304145;
}  
#cv {  
    display: grid;
    justify-content: center;
    background-color: white;
    grid-template-rows: 40% 60%; 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;  
    animation-name: cvWordSweep;
    animation-duration: 2s;
    z-index: 1;
}

.line {
    height: 2px;
    width: 300px;
    background-color: #304145;
    transform: rotate(90deg);
}

#cv p {
    color: #304145;
    margin: auto;
    padding-left: 50px;
    transform: rotate(90deg);
    grid-row-start: 2;
    letter-spacing: 0.5em;
    font-size: 0.8em;  
}
#year {  
    display:flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    
}
#year h1 {
    color: white;
    margin: auto;
    transform: rotate(90deg);
    letter-spacing: 0.5em;
    font-family: 'openBold';
    font-size: 2.5em;
    animation-name: yearWordSweep;
    animation-duration: 2s;
    z-index: 1;
}
#signature {
    color: white;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 0;
}

/* page two prpfile and skills */
#workExperience {
    z-index: 1;
}
#aboutProfile {
    z-index: 1;
}
#profileExperience{
    height:  auto;
    display: grid;
    grid-template-columns: 25% 75%;  
}
#aboutProfileImageContainer {
    display: grid;
    grid-template-rows: 75% 25%;
}
#profileContactImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 300px;
    background-color: #232322;
}
#profileContainerOverlay{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #30414580;
}
.subSections {
    padding-left: 5%;
    padding-top: 5%; 
}
.subSections h3 {
    letter-spacing: .5em;
}
.subLine {
    height: 1px;
    width: 100%;
    background-color: #304145;
}
.subHeadings {
    display: grid;
    grid-template-columns: 40% 60%; 
    align-items: center;
}
.information {
    grid-column-start: 1;
    grid-column-end: 3;
}
#profile {
    grid-column-start: 1;
    grid-column-end: 2;
   
    padding: 10%;
}
#profile p, #profile h3 {
    color: white;
}
#profile p {
    line-height: 2em;
}
#languages {
    grid-column-start: 2;
    grid-column-end: 3;
}

#education h2 {
    grid-column-start: 1;
    grid-column-end: 2;  
}
#education div {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* rated skills */

#languageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.ratingContainer{
   margin-bottom: 20px;
}
.skillRating {
    height: 10px;
    width: 10px;
    margin-right: 10px;

    background-color: #BAC7CE ;
    border-radius: 100%;
}
.rating{
    display: inline-flex;
}
.rated {
    background-color: #BD3147;
}

/*  General Styling */

@keyframes titleSweep {   
    0% {transform:  translate(-950px);}
    100% {transform:  translate(0px);}
}

@keyframes aboutSweep  {   
    0% {transform: translateY(250px);}
    100% {transform: translateY(0px);}
}

@keyframes cvWordSweep  {   
    0% {transform: translateY(-600px)}
    100% {transform: translate(0px);}
}
@keyframes yearWordSweep  {   
    0% {transform: translate(300px) rotate(90deg);}
    100% {transform: translate(0px) rotate(90deg);}
}





